/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* Inherit fonts for buttons */
button {
  font: inherit;
}

/* CUSTOM STYLES */
#root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.uk-text-large {
  font-size: 2rem;
}

.uk-input,
.uk-button,
.uk-checkbox,
.uk-card {
  border-radius: 5px;
}

#empty-state {
  display: none;
}
